name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml.lock') }}
        path: ~/.stack
        restore-keys: ${{ runner.os }}-stack-
    - run: echo '::add-path::/opt/ghc/8.8.3/bin'
    - run: echo '::add-path::/home/runner/.local/bin'
    - run: stack --system-ghc build --only-dependencies
    - run: stack --system-ghc build
